body{
  font-family: sans-serif;
}
.hidden{
  display: none;
}

.btn{
  font-size: 13px;
  font-weight: bold;
  margin-top:15px;
  margin-left: 15px;
  position: relative;
  padding:10px;
  border-radius:10px;
  border:none;
  background-color: #129a55;
  color: #fff;
  height: 5vh;
  width:200px;
}

.btn:hover{
  cursor: pointer;
  background-color: #0c7540;
  color: white;
}

.btn:disabled:hover{
  opacity: 0.6;
  cursor: not-allowed;
  background-color: #4E5359;
}

.text-align{
  text-align: center;
}

.container{
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 40px;
}

/*Progressbar start*/
#progresBar{
  display: flex;
  width: 800px;
  margin: 0 auto;
  margin-bottom: 40px;
  justify-content: space-between;
  align-items: flex-end;
}

.step-text{
  text-align: center;
}

.bullet{
  height: 30px;
  width: 30px;
  border-radius: 100%;
  display: inline-block;
  position: relative;
  background-color: #838991;
  transition: #838991 500ms;
  line-height: 20px;
  align-items: center;
}

.bullet-search{
  height: 30px;
  width: 30px;
  border-radius: 100%;
  display: inline-block;
  position: relative;
  background-color: #838991;
  transition: #838991 500ms;
  line-height: 20px;
  align-items: center;
}


.bullet::before{
  content: '';
  position: absolute;
  height: 6px;
  width: 135px;
  background-color: #838991;
  right: -134px;
  bottom: 10px;
}

.bullet.completed{
  background-color: #129A55;
}

.bullet.completed::after{
  content: '';
  position: absolute;
  height: 6px;
  width: 135px;
  background-color: #129A55;
  right: -134px;
  bottom: 10px;
}
/*Progressbar slut*/

/*Popup start*/
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup{
  width: 350px;
  height: 280px;
  padding: 30px 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 2;
  text-align: center;
  opacity: 0;
  top: -200px;
  transform: translate(-50%, -50%) scale(0.5);
  transition: opacity 300ms ease-in-out,
              top 1000ms ease-in-out,
              transform 1000ms ease-in-out;
}

.popup.active{
  opacity: 1;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}

.popup .icon{
  margin-left: 5px 0px;
  width: 50px;
  height: 50px;
  border: 2px solid #34f234;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  line-height: 60px;
}

.popup .icon i.fas{
  font-size: 30px;
  color: #34f234;
}

.popup .title{
  margin-left: 5px 0px;
  font-size: 30px;
  font-weight: 600px;
}

.popup .description{
  color: #222;
  font-size: 15px;
}

/*Popup slut*/
