@media(max-width:1250px){
  nav{
    display: none;
  }
  .header-line{
    margin-top: 14px;
  }

  .button{
    display: none;
  }

  .logo{
  float: initial;
  margin-left: auto;
  margin-right: auto;
  }
}

@media(max-width:1150px){
  .footer-col{
    display: none;
  }
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: white;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

header{
  background-color: white;
  height: 90px;
}

/*Website logo*/
.logo{
  margin-left: 20px;
  margin-top: 15px;
  width: 220px;
}

/*Instruktør login*/
.button {
  border-radius: 3px;
  background-color: #129a55;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  font-family: "Arial", sans-serif;
  width: 140px;
  height: 38px;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 35px;
  margin-left: 10px;
  position: absolute;
  top: 0;
  right: 0;
}


/*Navigation*/
nav{
  font-weight: 600;
}

.nav-links li, a {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #4e5359;
  text-decoration: none;
}

.nav-links{
  list-style: none;
  text-align: right;
  margin-right: 30px;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
  margin-bottom: 10px;
  padding-top:57px;
}


/*Green Line*/
.header-line{
  border: 0;
  height: 5px;
  background-color: #129a55;
  width: auto;
}



/*Login text*/
.login-popup{
  font-size: 25px;
  font-weight: 600;
  font-family: "Arial", sans-serif;
  margin-top: 80px;
  margin-left: 50px;
}

/* The popup form - hidden by default */
.form-popup {
  height: 500px;
  width: 40%;
  min-width: 400px;
  background-color: white;
  display: none;
  position: fixed;
  border: 3px solid #f1f1f1;
  z-index: 9;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Full-width input fields */
.form-container input[type=text], input[type=password] {
 width: 100%;
 padding: 15px;
 margin-top: 8px;
 margin-bottom: 20px;
 border: none;
 background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, input[type=password]:focus {
 background-color: #ddd;
 outline: none;
}

/*Login button */
.form-container .btn {
  font-size: 13px;
  font-weight: 600;
  font-family: "Arial", sans-serif;
  border-radius: 3px;
  background-color: #129a55;
  color: white;
  padding: 16px 25px;
  border: none;
  cursor: pointer;
  width: 120px;
  margin-top: 2px;
  margin-right: 15px;
  margin-left: 50px;
}

/*Cancel button */
.btn-cancel {
  background-color: white;
  height: 40px;
  width: 40px;
  float: right;
  margin-top: -50px;
  margin-right: 40px;
  cursor: pointer;
}


/*Glemt kodeord*/
.form-container a {
  font-size: 14px;
  font-family: "Arial", sans-serif;
  color: #86130E;
  position: relative;
}

/*Input bars - email & kodeord*/
.wrapper{
  font-family: "Arial", sans-serif;
  width: 100%;
  padding: 50px;
}

.form-container input{
  position: relative;
  box-sizing: border-box;
  width: 100%;
  font-size: 18px;
  border: none;
  padding: 15px 15px;
  border-radius: 3px;
  font-family: "Arial", sans-serif;
  color: #4a4a4a;
  letter-spacing: 0.5px;
  required="";
}

::placeholder{
  color: #9a9a9a;
  font-weight: 400;
}






/*Progressbar*/
.hidden{
  display: none;
}

.btn{
  font-size: 13px;
  font-weight: bold;
  margin-top:15px;
  position: relative;
  border-radius:3px;
  border:none;
  background-color: #129a55;
  color: #fff;
  height: 40px;
  width:150px;
  cursor: pointer;
  margin-top: 20px;
}


.popup center .btn{
  font-size: 13px;
  font-weight: bold;
  margin-top:15px;
  position: relative;
  border-radius:3px;
  border:none;
  background-color: #129a55;
  color: #fff;
  height: 40px;
  width:150px;
  cursor: pointer;
  margin-top: 20px;
}

.btn:disabled:hover{
  opacity: 0.6;
  cursor: not-allowed;
  background-color: #4E5359;
}

.text-align{
  text-align: center;
}

.container1{
  max-width: 770px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 30px;
}

/*Progressbar start*/
#progresBar{
  display: flex;
  width: 800px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-end;
}

.step-text{
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 12px;
}

.bullet{
  height: 25px;
  width: 25px;
  border-radius: 100%;
  display: inline-block;
  position: relative;
  background-color: #DEDEDE;
  transition: #838991 500ms;
  line-height: 20px;
  align-items: center;
}

.bullet-search{
  height: 25px;
  width: 25px;
  border-radius: 100%;
  display: inline-block;
  position: relative;
  background-color: #DEDEDE;
  transition: #DEDEDE 500ms;
  line-height: 20px;
  align-items: center;
}

.bullet::before{
  content: '';
  position: absolute;
  height: 4px;
  width: 135px;
  background-color: #DEDEDE;
  right: -134px;
  bottom: 10px;
}

.bullet.completed{
  background-color: #129A55;
}

.bullet.completed::after{
  content: '';
  position: absolute;
  height: 3px;
  width: 135px;
  background-color: #129A55;
  right: -134px;
  bottom: 10px;
}
/*Progressbar slut*/

/*Popup start*/
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup{
  width: 350px;
  height: 280px;
  padding: 30px 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 2;
  text-align: center;
  opacity: 0;
  top: -200px;
  transform: translate(-50%, -50%) scale(0.5);
  transition: opacity 300ms ease-in-out,
              top 1000ms ease-in-out,
              transform 1000ms ease-in-out;
}

.popup.active{
  opacity: 1;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}

.popup .icon{
  margin-left: 5px 0px;
  width: 50px;
  height: 50px;
  border: 2px solid #129a55;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  line-height: 60px;
}

.popup .icon i.fas{
  font-size: 30px;
  color: #129a55;
}

.popup .title{
  margin-left: 5px 0px;
  font-size: 30px;
  font-weight: 600px;
  font-family: "Arial", sans-serif;
  margin: 10px;
}

.popup .description{
  color: #222;
  font-size: 15px;
  font-family: "Arial", sans-serif;
  margin-bottom: 20px;
}

/*Popup slut*/





/*tilmelding*/
.tilmeld-div{
  background-color: #eee;
  width: 100%;
  height: 1300px;
  padding: 50px;
}

#wrapper1{
  border-radius: 5px;
  background-color: white;
  width: 90%;
  min-width: 1000px;
  height: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 50px;
}

form div{
  margin: 3px auto;
}

.text1{
  margin-top: 2px;
  height: 40px;
  border: 1px solid #5e6e66;
  font-size: 13px;
  padding: 5px;
  width: 100%;
  min-width: 350px;
}

.validate_error {
  color: #FF1F1F;
}

.move{
  position: relative;
  width: 80%;
  margin: 100px auto;
  margin-top: 50px;
  line-height: 20px;
}

h1{
  font-family: "Arial", sans-serif;
  font-size: 25px;
  position: relative;
  width: 200px;
  margin-left: 9.7%;
  margin-top: -35px;
  margin-bottom: 90px;
}

.move p{
  font-family: "Arial", sans-serif;
  font-size: 13px;
  font-weight: 600;
  padding-top: 10px;
}

.arrow{
  height: 30px;
  width: 30px;
}

.button-tilmeld {
  border-radius: 3px;
  background-color: #129a55;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  font-family: "Arial", sans-serif;
  width: 140px;
  height: 38px;
  cursor: pointer;
  margin-top: 20px;
}



/*Footer*/
.footer-line{
  border: 0;
  height: 5px;
  background-color: #129a55;
  width: auto;
  margin: auto;
}

.footer-col li a:hover{
  text-decoration: underline;
}

.footer-col1 li a:hover{
  text-decoration: underline;
}

h4{
  font-family: "Arial", sans-serif;
  font-size: 15px;
  color: black;
  margin-bottom: 10px;
  margin-top: 10px;
}

ul{
  list-style: none;
}

footer{
  background-color: white;
  width: 100%;
  height: 550px;
  padding: 30px 0;
  line-height: 1.8;
  letter-spacing: .5px;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.row p{
  font-family: "Arial", sans-serif;
  font-weight: 500px;
  font-size: 15px;
  color: black;
  text-align: left
}

.footer-col{
  width: 25%;
  padding: 0 30px;
}

.footer-col li, a{
  font-family: "Arial", sans-serif;
  font-weight: 500px;
  font-size: 15px;
  color: black;
}

.footer-col1{
  width: 25%;
  padding: 0 30px;
}

.footer-col1 li, a{
  font-family: "Arial", sans-serif;
  font-weight: 500px;
  font-size: 15px;
  color: black;
}
